

header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}


header button{
    font-size: 1.2rem;
}

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;

}

header.flex nav{
    background-color: var(--bgheader);
    padding: .77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px rgba(53, 50, 50, 0.292);
}

.menu {
    display: none;
}


/** Model pop up **/

header .fixed{
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgb(40, 40, 48, 0.91);
}

@keyframes mymove {
    0%   {scale: 0;}
    100% {scale: 1;}
  } 

header .fixed ul.model{
    animation: myMove 5s 1;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);

}

header .fixed ul.model li{
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}

header .fixed ul.model li:last-child{
    border: none;
}

header .fixed ul.model li:first-child{
    text-align: right;
    border: none;
    padding-top: 0;
    padding-bottom: 0.2rem;
}

@media (max-width: 700px){
    header.flex nav{
        display: none;
    }
    .menu {
        display: block;
    }
}